.mybanner{
  margin: 5px 15px;
  border: solid 10px #cbedf2;
  height: 230px;
  background-image: url(../graffitwallwelcome.jpeg);
  background-size: contain;
}
.banner{
   margin: 5px 15px;
  border: solid 10px #cbedf2;
  height: 230px;
  background-image: url(../graffitwallwelcome.jpeg);
  background-size: contain;);
  background-size: contain;

}
.mycontact{
  margin:0px 0px;
  height: 230px;
  background-image: url(../contactme.jpeg);
  background-size: cover;
}
h1{
	color: #141408;
  font-family: Abril Fatface;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  width: 626px;
  text-align: center;
}
.shape{
	background-color: rgba(255, 255, 255, 0);
	border: 2px solid #47525E;
	border-radius: 5px;
	width: 585.52px;
	height: 69.18px;
  margin-bottom: 65px;
}

.pic{
  width: 100%;
}

.pic2{
  width: 20%;
}
.self
{
  width: 50%;
}